## Ignore build outputs
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.user
*.suo
*.userosscache
*.sln.docstates

## Ignore NuGet packages
*.nupkg
*.snupkg
*.nuspec
*.symbols.nupkg
packages/
.nuget/

# Ignore VSCode settings
.vscode/

# Ignore Rider files
.idea/

# Ignore dotnet secrets
**/secrets.json

# Ignore publish outputs
**/publish/

# Ignore logs
*.log

# Ignore appsettings secrets if needed
appsettings.Development.json

.fake